<!--
File Name: footer.ejs
Name: Chitwan Katyal
Student ID: 301169422
Course Name: Web Application Development
Course Code: COMP229
Web Site Name: Chitwan Katyal's Express Portfolio Site (Assignment1)
Date: October 03, 2021
-->

<!--Script Section-->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/Scripts/app.js"></script>
</body>
</html>