<!--
File Name: about_content.ejs
Name: Chitwan Katyal
Student ID: 301169422
Course Name: Web Application Development
Course Code: COMP229
Web Site Name: Chitwan Katyal's Express Portfolio Site (Assignment1)
Date: October 03, 2021
-->

<!--About Page Content -->
<body id="aboutBody">
    <div id="about">
        <h1 id="aboutHeading">About Me</h1>
        <img src="Assets/images/image2.jpeg" alt="My Photo" style="text-align: centre;" id="myPhoto">
    <h1 id="aboutMe">Chitwan Katyal</h1>
    <h5><a href="Assets/images/Chitwan Katyal_CV.pdf" id="resume">Click to view my Resume</a></h5><br>
    <ul id="paragraph">
        <li>I am an Internationally Trained Doctor from India </li>
        <li>I did Bachelors of Medicine and Bachelors of Surgery</li>
        <li>I worked as General Physician (Doctor) for 2 years</li>
        <li>My love for software made me switch my career</li><br>
    <h2 id="hobbies">My Hobbies:</h2>
    <ul id="myHobbies">
        <li>Dancing</li>
        <li>Cooking</li>
        <li>Playing Badminton</li>
        <li>Trying new Cuisines</li>
        <li>Exploring new places</li><br>
    </ul> 
</div>
</body>