<!--
File Name: home_content.ejs
Name: Chitwan Katyal
Student ID: 301169422
Course Name: Web Application Development
Course Code: COMP229
Web Site Name: Chitwan Katyal's Express Portfolio Site (Assignment1)
Date: October 03, 2021
-->

<!-- Home Page Content -->
<body id="homeBody"> 
    <main>
        <div id="allPage">
        <h1 id="welcomeMessage">Welcome!</h1>
            <img src="/Assets/images/image1.jpeg" alt="My Picture" id="myPicture">
            <h2 id="name">I am Chitwan Katyal<h1>
            <h4 id="courseText">I am currently enrolled in Software Engineering Technology Program at Centennial College and I am in semester 3.</h4><br>
            <h5 id="missionStatement">| Dreamer | Hardworker | Passionate |</h5>
            <a href="/about" class="btn btn-primary btn-lg">Click Here To Know Me</a>
        </div>
    </main>
</body>
