<!--
File Name: projects_content.ejs
Name: Chitwan Katyal
Student ID: 301169422
Course Name: Web Application Development
Course Code: COMP229
Web Site Name: Chitwan Katyal's Express Portfolio Site (Assignment1)
Date: October 03, 2021
-->

<!--- Projects Page Content -->
<body id="projectsBody">
    <div id="projects">
    <h1 id="projectsHeading">My Projects</h1><br>
    <h4 id="heading">Here are some of my successful projects:</h4><br>
        <h4 id="javascript">HTML5, CSS3, JavaScript</h4>

    <!--Creating tables to align all my projects-->
    <table id="projectsTable1">
        
        <tr>
            <td><img src="/Assets/images/weather.PNG" alt="Weather application using HTML5, CSS3 and JavaScript" id="weather">
            <br><br> Built a Weather and Location web application using 
            <br>OpenWeather API and Google Maps API</td> 
            <td> </td>
            <td><img src="/Assets/images/bugSmasher.PNG" alt="Bug Smasher Game using HTML5, CSS3 and JavaScript" id="bugSmasher">
                <br><br>Created a Bug Smasher Game using 
                <br>JavaScript in Visual Studio Code</td>
                <td><img src="/Assets/images/bounceBall.PNG" alt="Bounce Ball Game using HTML5, CSS3 and JavaScript" id="bounceBall">
                    <br><br>Developed a Bounce Ball Game using 
                    <br>JavaScript in Visual Studio Code</td>

       </tr>

       <table id="projectsTable2">
           <tr>
               <br><br>
               <th><h4>C#</h4></th>
               <th><h4>Oracle(SQL)</h4></th>
               <th><h4>Python</h4></th>
           </tr>
           <tr><td><img src="/Assets/images/form.PNG" alt="Teams Player form using C#" id="form">
            <br><br> Built a Sports Match Generator and Team Trader 
            <br>using Winform (C#) in Visual Studio</td> 

            <td><img src="/Assets/images/sql.PNG" alt="Student Enrollment Application Database" id="database">
                <br><br> Designed and Developed a Student Enrollment Application Database and 
                <br>Entity-Relationship Diagram using SQL Developer
               </td> 

               <td><img src="/Assets/images/rock-paper-scissors.PNG" alt="Rock-Paper-Scissors Game" id="python">
                <br><br> Developed a Rock-Paper-Scissors Game using
                <br> Python on Spyder 
                
               </td> 
            </tr>
       </table>
    </table>

   <br><br> <h4 id="otherProjects">Check my other projects at:</h4>
  <h5> <a href="https://github.com/chitwankatyal" id="link1">GitHub Account</a> &nbsp;&nbsp;&nbsp;<a href="http://studentweb.cencol.ca/ckatyal/" id="link2">Studentweb Account</a></h5>
</div>  
</body>
