<!--
File Name: services_content.ejs
Name: Chitwan Katyal
Student ID: 301169422
Course Name: Web Application Development
Course Code: COMP229
Web Site Name: Chitwan Katyal's Express Portfolio Site (Assignment1)
Date: October 03, 2021
-->

<!--Services Page Content -->
<body id="servicesBody">
    <div id="services">
        <h1 id="servicesHeading">Services Offered</h1><br>
        <h3 id="heading">Below are the list of services offered:</h3>
        <table id="servicesTable">
       <tr>
           <td>
            <ul>
                <li>
                    I can built a user friendly and interactive website for your company
                </li>
                </ul>
           </td>
           <td>
           <img src="Assets/images/realEstate.png" alt="Real Estate Website" id="realEstate">
        </td>
       </tr>
       <tr>
           <td>
               <img src="/Assets/images/centennialForm.png" alt="Centennial College Form" id="centennialForm" style="float: left;">
            </td>
            <td>
            <ul>
             <li>I can design different types of forms; including College Forms, Membership Forms</li><br>
            </ul>
        </td>
       </tr>

       <tr>
           <td>
               <ul>
                   <li>I can create and design some functional and dynamic applications; such as BMI calculator , sports team and season generator </li> <br>
                </ul>
           </td>
           <td>
               <img src="/Assets/images/bmiCalculator.png" alt="BMI calculator" id="bmiCalculator" style="float: right;">
           </td>
       </tr>

       <tr>
           <td>
               <img src="/Assets/images/slideShow.png" alt="Slide Show" id="slideShow" style="float: inherit;">
            </td>
            <td>
               <ul>
                   <li>I can also built an operable picture gallery displaying different images as a slide show after a specified time interval</li><br>
               </ul>
           </td>
       </tr>
       </table>
    </div>
<table id="skillsTable">

</table>
</div>
<div id="technicalSkills">
        <h1 id="technicalSkillsHeading">Technical Skills and Knowledge</h1>
        <img src="Assets/images/technicalSkills.jpg" alt="Technical Skills" id="techSkills" style="float:right;">
        <ul>
            <li>
                C#
            </li>
            <li>HTML5, CSS3, JavaScript, TypeScript, Node.js</li>
            <li>Java</li>
            <li>Python</li>
            <li>Unix/Linux</li>
            <li>Oracle SQL</li>
        </ul>
    </div>
  
</body>