/*
File Name: app.css
Name: Chitwan Katyal
Student ID: 301169422
Course Name: Web Application Development
Course Code: COMP229
Web Site Name: Chitwan Katyal's Express Portfolio Site (Assignment1)
Date: October 03, 2021
*/

/* Custom css goes here */

/* Css for Home Page */
html {
    margin-bottom: 65px
}

#homeBody{
   background-image: url(/Assets/images/backgroundImage.jpg);
   background-position: center;
   background-size: 1400px 1000px; 
}

#welcomeMessage{
   text-align: center;
   font-family: Verdana;
   font-weight: bolder;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color:rgb(150, 0, 170);
   color:rgb(255, 137, 249)
}

#allPage{
   width: 450px;
   margin: auto;
   margin-top: 20px;
   margin-bottom: 20px;
   text-align: center;
   background-color: rgba(0, 0, 0, 0.712);
   padding: 10px;
   border-style: double;
   border-radius: 20px;
   border-color:rgb(233, 70, 225);
   color: white;
}

#myPicture{
   width: 300px;
   height: 350px;
   border-radius: 50%;
   border-color:rgb(233, 70, 225);
   border-style: double;
}

#courseText{
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 500;
   font-size: medium;
}

#name{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight:600;
}
#missionStatement{
   font-family: Arial, Helvetica, sans-serif;
   font-variant: small-caps;
   font-weight: bold;
   color:rgb(244, 198, 255);
}

.btn{
   background-color: rgb(233, 70, 225);
}

.btn:hover{
       background-color: purple;
}

#navbar{
   background-color: rgba(0, 0, 0, 0.657);
}

#bottom_nav{
   background-color: rgba(0, 0, 0, 0.815);
}

/* Css for About me page */
#myPhoto{
   width: 350px;
   height: 350px;
   border-radius: 50%;
   border-color:rgb(144, 238, 199);
   border-style: dotted;
}

#about{
   width: 550px;
   margin: auto;
   margin-top: 20px;
   margin-bottom: 20px;
   text-align: center;
   background-color: rgb(1, 44, 28);
   padding: 10px;
   border-style:dotted;
   border-radius: 20px;
   border-color:rgb(144, 238, 199);
}

#aboutMe{
   text-align: center;
   font-family: Verdana;
   font-weight: bold;
   color:rgb(144, 238, 199);
}

#aboutHeading{
   text-align: center;
   font-family: Verdana;
   font-weight: bold;
   color:rgb(144, 238, 199);
}

#aboutBody{
   background-image: url(/Assets/images/aboutBackground.jpg);
   background-position: center;
   background-size: 1400px 1000px; 
   color:white;
}

#paragraph{
   text-align: justify;
   font-family: Arial, Helvetica, sans-serif;
}

#hobbies{
   text-align: center;
   font-family: Verdana;
   font-weight: bold;
   color:rgb(144, 238, 199);
}

#myHobbies{
   text-align: justify;
   font-family: Arial, Helvetica, sans-serif;

}

#resume{
   color: lightgreen;
}
#resume:hover{
   color:yellow;
}

/* Css for Projects Page */
#projectsBody{
   background-image: url(/Assets/images/bgProjects.jpg);
   background-size: 1400px 1400px;
}
#projectsTable1 {
   text-align: center;
   padding: 10px;
}

#projectsTable2 {
   text-align: center;
   padding: 10px;
}

th {
   padding: 10px;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   font-variant: small-caps;
   font-weight:bolder;
   font-size:xx-large;
   color:rgb(255, 170, 196);
}

td{
   padding: 10px;
   text-align: center;
}

#projectsHeading{
   text-align: center;
   font-family: Verdana;
   font-weight: bolder;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color:rgb(150, 0, 170);
   color:rgb(255, 116, 174);
}

#heading{
   text-align: center;
   font-family: Verdana;
   color:rgb(255, 170, 196);
}

#javascript{
   font-family: Arial, Helvetica, sans-serif;
   font-variant: small-caps;
   font-weight: bold;
   font-size:xx-large;
   color:rgb(255, 170, 196);
   
}

#weather{
   width: 350px;
   height: 350px;
   border-style: solid;
   border-radius: 30px;  
   border-color:rgb(255, 116, 174);
}

#bugSmasher{
   width: 350px;
   height: 350px;
   border-style: solid;
   border-radius: 30px; 
   border-color:rgb(255, 116, 174);
}

#bounceBall{
   width: 450px;
   height: 350px;
   border-style: solid;
   border-radius: 30px;
   border-color:rgb(255, 116, 174);
}

#form{
   width: 350px;
   height: 350px;
   border-style: solid;
   border-radius: 30px;
   border-color:rgb(255, 116, 174);
}

#database{
   width: 350px;
   height: 350px;
   border-style: solid;
   border-radius: 30px;
   border-color:rgb(255, 116, 174);
}

#python{
   width: 350px;
   height: 350px;
   border-style: solid;
   border-radius: 30px;
   border-color:rgb(255, 116, 174);

}

#link1{
       color:rgb(250, 203, 221); 
   }

#link1:hover{
   color:yellow;
}    

#link2{
   color:rgb(250, 203, 221); 
}

#link2:hover{
color:yellow;
}    

#otherProjects{
   text-align: center;
   font-family: Verdana;
   color:rgb(255, 116, 174);
   font-weight: bolder;
   font-size: xx-large;
}

#projects{
   width: auto;
   margin: auto;
   margin-top: 20px;
   margin-bottom: 20px;
   text-align: center;
   color:white;
   font-family: Arial, Helvetica, sans-serif;
   font-weight:bold;
   background-color: rgba(0, 0, 0, 0.432);
   padding: 10px;
   border-style: double;
   border-radius: 20px;
   border-color:rgb(255, 116, 174);
}

/* Css for Services Page */
#services{
   width: 980px;
   margin: auto;
   margin-top: 20px;
   margin-bottom: 20px;
   background-color: rgba(0, 0, 0, 0.794);
   padding: 10px;
   border-style: double;
   border-radius: 20px;
   border-color:red;
   
}

#servicesBody{
   background-image: url(/Assets/images/keyboard.jpg);
   background-size: 1400px 1400px;
}

#technicalSkills{
   width: 980px;
   margin: auto;
   margin-top: 20px;
   margin-bottom: 15px;
   background-color: rgba(0, 0, 0, 0.794);
   padding: 30px;
   border-style: double;
   border-radius: 20px;
   border-color:red;
}
#realEstate{
   width: 400px;
   height: 300px;
   border-style: solid;
   border-radius: 30px;
   border-color:rgb(255, 133, 133);
   border-style:solid;
}

#centennialForm{
   width: 400px;
   height: 300px;
   border-style: solid;
   border-radius: 30px;
   border-color:rgb(255, 133, 133);
   border-style:solid;
}

#bmiCalculator{
   width: 400px;
   height: 300px;
   border-style: solid;
   border-radius: 30px;  
   border-color:rgb(255, 133, 133);
   border-style:solid; 
}

#slideShow{
   width: 400px;
   height: 300px;
   border-style: solid;
   border-radius: 30px; 
   border-color:rgb(255, 133, 133);
   border-style:solid;
}

#techSkills{
   width: 300px;
   height: 250px;
   border-style: solid;
   border-radius: 30px;
   border-color:rgb(255, 133, 133);
   border-style:solid;
}
td{
   text-align: center;
}

#servicesHeading{
   text-align: center;
   font-family: Verdana;
   font-weight: bolder;
   color: red;
}
#heading{
   text-align: center;
   font-family: Verdana;
   color: rgb(255, 133, 133);
   font-weight: bold;
}

li{
   color: white;
   font-size:x-large;
   font-family: Arial, Helvetica, sans-serif;
}

#technicalSkillsHeading{
   text-align: center;
   font-family: Verdana;
   font-weight: bolder;
   color: red;
}

/* Css for Contact Me Page */
#contactBody{
   background-image: url(/Assets/images/email.jpg);
   background-size: 1400px 900px;
}

.container{
   width: 980px;
   margin: auto;
   margin-top: 20px;
   margin-bottom: 15px;
   background-color:rgba(0, 0, 0, 0.322);
   padding: 30px;
   border-style: solid;
   border-radius: 20px;
   color: rgb(255, 139, 240);
}

#contactHeading{
   text-align: center;
   font-family: Verdana;
   font-weight: bolder;
   color:rgb(252, 255, 102);
}

.form-label{
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   color: rgb(255, 225, 144);
}

.btn{
  background-color:#000000;
  color: rgb(255, 139, 240);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-style: solid;
  border-color:violet;
}
.btn:hover{
background-color: violet;
color:purple;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}

#emailId{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgb(255, 225, 144);
}
#linkedIn{
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   color: rgb(255, 225, 144);
}

#emailLink{
   font-family: Arial, Helvetica, sans-serif;
   color:rgb(144, 233, 255);
}

#emailLink:hover{
   color:yellow;
}

#linkedinLink{
   font-family: Arial, Helvetica, sans-serif;
   color:rgb(144, 233, 255);
}
#linkedinLink:hover{
   color:yellow;
}

#errorDiv {
   width: 980px;
   margin: auto;
   margin-top: 20px;
   margin-bottom: 15px;
   background-color:rgb(68, 0, 75);
   padding: 30px;
   border-style: solid;
   border-radius: 20px;
   border-color:rgb(233, 70, 225);
   color: rgb(255, 139, 240);
}